**/.DS_Store
TVPage Player/TVPage Player.xcodeproj/project.xcworkspace/xcshareddata
TVPage Player/TVPage Player.xcodeproj/project.xcworkspace/xcuserdata
TVPage Player/TVPage Player.xcodeproj/xcuserdata
